<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Employee Neo4j DB Demo Application</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
<script src="demoApp.js"></script>
<style>
body{
	font-family: consolas;
	font-size: medium;
}
a {
	cursor: pointer;
    width: 750px;
    height: 20px;
    background: #003399;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button {
	cursor: pointer;
    width: auto;
    height: auto;
    background: #003399;
    padding: 7px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
</style>
</head>
<body>
	<div ng-controller="EmployeeController">
	
		<table border = 0>
			<tr>
				<td>
					<button type="button" ng-click="getAllEmployees()" >Get all Employees</button>
					<button type="button" ng-click="deleteAllEmployees()">Delete All Employees</button>
				</td>
				<td>
					<button type="button" ng-click="getEmployee(employee.empId)">Get Employee</button> 
					<button type="button" ng-click="updateEmployee(employee.empId, employee.name)">Update Employee</button> 
					<button type="button" ng-click="addEmployee(employee.empId, employee.name)">Add Employee</button> 
					<button type="button" ng-click="deleteEmployee(employee.empId)">Delete Employee</button> 
				</td>				
			</tr>
			
			<tr>
				<td>
					<table ng-if="employees">
						<tr>
							<th>Employee Id</th>
							<th>Employee Name</th>
						</tr>
						<tr ng-repeat="employee in employees">
							<td width="auto">{{employee.empId}}</td>
							<td width="auto">{{employee.name}}</td>
						</tr>
					</table>				
				</td>
				<td>
					<table border = 0 >
						<tr>
							<td width="auto">Employee ID:</td>
							<td><input type="text" id="id" ng-model="employee.empId" /></td>
						</tr>
						<tr>
							<td width="auto">Name:</td>
							<td><input type="text" id="name" ng-model="employee.name" /></td>
						</tr>
					</table>	
					
					<br /> <br />
					<p style="color: green">{{message}}</p>
					<p style="color: red">{{errorMessage}}</p>			
				</td>
			</tr>
		</table>
		
		<!-- 
		<table>
			<tr>
				<td width="auto">Employee ID:</td>
				<td><input type="text" id="id" ng-model="employee.empId" /></td>
			</tr>
			<tr>
				<td width="auto">Name:</td>
				<td><input type="text" id="name" ng-model="employee.name" /></td>
			</tr>
		</table>
		<br /> <br /> 
		<a ng-click="getEmployee(employee.empId)">Get Employee</a> 
		<a ng-click="updateEmployee(employee.empId, employee.name)">Update Employee</a> 
		<a ng-click="addEmployee(employee.empId, employee.name)">Add Employee</a> 
		<a ng-click="deleteEmployee(employee.empId)">Delete Employee</a> 
		<a ng-click="deleteAllEmployees()">Delete All Employees</a> 
		<br /> <br />
		<p style="color: green">{{message}}</p>
		<p style="color: red">{{errorMessage}}</p>

		<br /> <br /> <a ng-click="getAllEmployees()">Get all Employees</a>
		<br /> <br /> <br />
		
		<table ng-if="employees">
			<tr>
				<th>Employee Id</th>
				<th>Employee Name</th>
			</tr>
			<tr ng-repeat="employee in employees">
				<td width="auto">{{employee.empId}}</td>
				<td width="auto">{{employee.name}}</td>
			</tr>
		</table>
		 -->
	</div>
</body>
</html>